<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Crear Contenido</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<link rel="stylesheet" href="../css/FU_bootstrap.min.css">-->
    <link rel="stylesheet" href="../css/FU_style.css">
    <link rel="stylesheet" href="../css/bootstrap.css" media="screen"/>
    <link rel="stylesheet" href="../css/FU_jquery.fileupload-ui.css">
</head>

<script>
    function check(input) {
      if (input.value != document.getElementById('email_addr').value) {
        input.setCustomValidity('The two email addresses must match.');
      } else {
        // input is valid -- reset the error message
        input.setCustomValidity('');
      }
    }
</script>

<body>
<!-- BARRA DE NAVEGACION -->
    <nav id='caca' class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
                <span class="sr-only">Desplegar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Market Place Tecnologo</a>
        </div>
<!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
      <div class="collapse navbar-collapse navbar-ex1-collapse"> 
        <ul class="navbar-form navbar-left" role="search">
            <div class="form-group col-xs-6">
                <input id="input-busqueda" type="search" class="form-control" placeholder="Buscar">
            </div>
            <ul class="btn-group">
                <button onclick="buscarContenidos();" class="btn btn-primary barraBusquedaHome" style="margin-top: initial;">
                    <span class="glyphicon glyphicon-search"></span> Buscar</button>
                <button class="btn btn-primary dropdown-toggle" type="button" onclick="mostrarElemento('configurarBusqueda',true)"><span class="glyphicon glyphicon-cog"></span></button>
            </ul>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="Login-Registro-Div">
            <a href="#" class="btn btn-primary barraBusquedaHome" role="button" data-toggle="dropdown">Registrarse</a>
            <ul class="dropdown-menu">
                <li><a href="#" onclick="setRegistroTipo('proveedor');mostrarElemento('registroUsuario',true)">Soy Proveedor</a></li>
                <li><a href="#" onclick="setRegistroTipo('cliente');mostrarElemento('registroUsuario',true)">Soy Cliente</a></li>
            </ul>
            <button class="btn btn-primary barraBusquedaHome" onclick="mostrarElemento('loginUsuario',true)">Login</button>
        </ul>
        <ul class="col-md-2 pull-right" id="Nick-Logout-Div" hidden>
            <a href="#" class="nick">nick</a>
            <a href="#" onclick="logoutUsuario()">(Logout)</a>
        </ul>
    </nav>

<div class="container">
    <div class="page-header"><h1>Subir Nuevo Contenido</h1></div>

    <blockquote>
        <p>Para crear un nuevo contenido, debera llenar el formulario y seleccionar
            la ubicacion del contenido a subir.</p>
    </blockquote>

    <div class="col-md-12 row">
        <div class="col-md-3">
            <p>Tipo de contenido 
                <select id="id_tipoContenido" class="form-control" onchange="verEspecificos(this);">
                  <option value="tipo_contenido_software">App</option>
                  <option value="tipo_contenido_tema">Musica</option>
                  <option value="tipo_contenido_video">Video</option>
                  <option value="tipo_contenido_libro">Libro</option>
                </select>
            </p>
            <p>Categoria 
                <select id="id_categoria" class="form-control" onchange="cargarComboSubCategorias(this);">
                </select>
            </p>
            <p>Subcategorias 
                <select id="id_subcategoria" class="form-control" >
                </select>
            </p>
            <p>Precio<input id="id_precio" class="form-control" type="tel"></input></p>
        </div>        
        <div class="col-md-6">
            <p>Nombre <input id="id_nombre" type="text" class="form-control col-lg-3"></input></p>
            <p>Descripcion: <textarea id="id_descripcion" class="form-control" rows="3"></textarea></p>             
        </div>
        <!-- Especificos -->
            <!-- Libros -->
        <div id="esp_libro" class="col-md-6 hide">    
            <p>Fecha Publicacion <input id="id_fechaPublicacion" type="text" class="form-control col-lg-1"></input></p>
            <p>Autor <input id="id_autor" type="text" class="form-control col-lg-1"></input></p>
            <p>Cantidad de Paginas <input id="id_cantPag" type="text" class="form-control col-lg-1"></input></p>
        </div>
            <!-- App -->
        <div id="esp_app" class="col-md-6">
            <p>Desarrollador <input id="id_desarrollador" type="text" class="form-control col-lg-1"></input></p>
            <p>Es Trial <input id="id_trial" type="checkbox" class="form-control col-lg-1"></input></p>
            <p>Req. Minimos <textarea id="id_req" rows="3" class="form-control col-lg-1"></textarea></p>
        </div>
            <!-- Video -->
        <div id="esp_video" class="col-md-6 hide">
            <p>Duracion <input id="id_duracion" type="text" class="form-control col-lg-1"></input></p>
            <p>Formato <input id="id_formato" type="text" class="form-control col-lg-1"></input></p>
            <p>Calidad <input id="id_calidad" type="text" class="form-control col-lg-1"></input></p>
        </div>            
            <!-- Musica -->
        <div id="esp_musica" class="col-md-6 hide">
            <p>Duracion<input id="id_duracionMusica" type="text" class="form-control col-lg-1"></input></p>
            <p>Artista <input id="id_artista" type="text" class="form-control col-lg-1"></input></p>
            <p>Album<input id="id_album" type="text" class="form-control col-lg-1"></input></p>
        </div>        
    </div>

    <br></br>

    <div class="well">
        <p>A continuacion eliga el contenido seguido de las imagenes que van a ir asociadas al mismo.
        En primer lugar debera subir el contenido, luego todas las imagenes asociadas al mismo.
        Faltan Validaciones asique lea el manual, no sea nabo.
        </p>
    </div>

    <form id="fileupload" action="upload" method="POST" enctype="multipart/form-data">
        <div class="row fileupload-buttonbar">
            <div class="col-md-7"> 
                <span class="btn btn-success fileinput-button"><i class="glyphicon glyphicon-plus icon-white"></i><span>Agregar..</span>
                <input type="file" name="files[]" multiple="multiple" />
                </span>
                <button type="submit" class="btn btn-primary start"> <i class="glyphicon glyphicon-upload icon-white"></i><span>Subir</span>
                </button>
                <button type="reset" class="btn btn-warning cancel"> <i class="glyphicon glyphicon-ban-circle icon-white"></i><span>Cancelar</span>
                </button>
                <button type="button" class="btn btn-danger delete"> <i class="glyphicon glyphicon-trash icon-white"></i><span>Borrar</span>
                </button>
                <input type="checkbox" class="toggle" />
            </div>
            <div class="col-md-5 fileupload-progress fade">
                <div class="progress progress-success progress-striped active" role="progressbar"
                aria-valuemin="0" aria-valuemax="100">
                    <div class="bar" style="width: 0%;"></div>
                </div>
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <div class="fileupload-loading"></div>
        <br />
        <table role="presentation" class="table table-striped">
            <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
        </table>
    </form>
    <br>

    <div class="col-md-12">
         <a class="btn btn-default modal-download" onclick="enviarAltaContenido()"><i class="glyphicon glyphicon-download"></i><span>Crear</span></a>
    </div>

    <div class="well">
         <h3>Notas</h3>
        <ul>
            <li>The maximum file size for uploads in this demo is <strong>5 MB</strong> (default
                file size is unlimited).</li>
            <li>Only image files (<strong>JPG, GIF, PNG</strong>) are allowed in this
                demo (by default there is no file type restriction).</li>
            <li>Uploaded files will be deleted automatically after <strong>5 minutes</strong> (demo
                setting).</li>
            <li>Puedes subir archivos directamente haciendo <strong>drag &amp; drop</strong> desde
                tu escritorio al navegador o desde el boton "Agregar..".</li>
        </ul>
    </div>
</div>

<!-- Galeria de imagenes subidas al tmp -->
<div id="modal-gallery" class="modal modal-gallery fade" data-filter=":odd">
    <div class="modal-dialog" style="position: fixed;left: 34em;top: inherit;width: initial;">
        <div class="modal-content">
            <div class="modal-header"> <a class="close" data-dismiss="modal">×</a>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body">
                <div class="modal-image"></div>
            </div>
            <div class="modal-footer"> <a class="btn btn-default modal-download" target="_blank"><i class="glyphicon glyphicon-download"></i><span>Descargar</span></a>
                <a
                class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"> <i class="glyphicon glyphicon-play icon-white"></i><span>Play</span>
                    </a> <a class="btn btn-info modal-prev"><i class="glyphicon glyphicon-arrow-left icon-white"></i><span>Anterior</span></a>
                    <a
                    class="btn btn-primary modal-next"><span>Siguiente</span><i class="glyphicon glyphicon-arrow-right icon-white"></i>
                        </a>
            </div>
        </div>
    </div>
</div>

    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
       {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td class="preview"><span class="fade"></span></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
            {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
                {% } %}</td>
            {% } else { %}
            <td colspan="2"></td>
            {% } %}
            <td class="cancel">{% if (!i) { %}
                <button class="btn btn-warning">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>{%=locale.fileupload.cancel%}</span>
                </button>
                {% } %}</td>
        </tr>
        {% } %}
    </script>

    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
            {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
                {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
            {% } %}
            <td class="delete">
                <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                    <i class="icon-trash icon-white"></i>
                    <span>{%=locale.fileupload.destroy%}</span>
                </button>
                <input type="checkbox" name="delete" value="1">
            </td>
        </tr>
        {% } %}
    </script>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery-ui.js"></script>    
    <script src="../js/bootstrap.js"></script>    
    <script src="../js/proveedor.js"></script>    
    <script src="../js/globalesProyecto.js"></script> 
    <script src="../js/Objetos.js"></script>   
    <script src="../js/Prototipos.js"></script>
    <script src="../js/LlamadasAjax.js"></script>
    <script src="../js/FU_vendor/jquery.ui.widget.js"></script>
    <script src="../js/FU_vendor/FU_tmpl.min.js"></script>
    <script src="../js/FU_vendor/FU_load-image.min.js"></script>
    <script src="../js/FU_vendor/FU_canvas-to-blob.min.js"></script>
    <script src="../js/FU_vendor/FU_bootstrap-image-gallery.min.js"></script>
    <script src="../js/FU_vendor/FU_jquery.iframe-transport.js"></script>
    <script src="../js/FU_vendor/FU_jquery.fileupload.js"></script>
    <script src="../js/FU_vendor/FU_jquery.fileupload-fp.js"></script>
    <script src="../js/FU_vendor/FU_jquery.fileupload-ui.js"></script>
    <script src="../js/FU_vendor/FU_locale.js"></script>
    <script src="../js/FU_vendor/FU_main.js"></script>
</body> 
</html>
