<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Crear Contenido</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../css/FU_bootstrap.min.css">
        <link rel="stylesheet" href="../css/FU_style.css">
        <link rel="stylesheet" href="../css/FU_bootstrap-responsive.min.css">
        <link rel="stylesheet" href="../css/FU_bootstrap-image-gallery.min.css">
        <link rel="stylesheet" href="../css/FU_jquery.fileupload-ui.css">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Subir Nuevo Contenido</h1>
            </div>
            <blockquote>
                <p>Para crear un nuevo contenido, debera llenar el formulario y seleccionar la ubicacion del contenido a subir.</p>
            </blockquote>
            <br>
            <form id="fileupload" action="upload" method="POST" enctype="multipart/form-data">
                <div class="row fileupload-buttonbar">
                    <div class="span7">
                        <span class="btn btn-success fileinput-button">
                            <i class="icon-plus icon-white"></i><span>Agregar..</span>
                            <input type="file" name="files[]" multiple>
                        </span>
                        <button type="submit" class="btn btn-primary start">
                            <i class="icon-upload icon-white"></i><span>Subir</span>
                        </button>
                        <button type="reset" class="btn btn-warning cancel">
                            <i class="icon-ban-circle icon-white"></i><span>Cancelar</span>
                        </button>
                        <button type="button" class="btn btn-danger delete">
                            <i class="icon-trash icon-white"></i><span>Borrar</span>
                        </button>
                        <input type="checkbox" class="toggle">
                    </div>
                    <div class="span5 fileupload-progress fade">
                        <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            <div class="bar" style="width:0%;"></div>
                        </div>
                        <div class="progress-extended">&nbsp;</div>
                    </div>
                </div>
                <div class="fileupload-loading"></div>
                <br>
                <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
            </form>
            <br>
            <div class="well">
                <h3>Notas</h3>
                <ul>
                    <li>The maximum file size for uploads in this demo is <strong>5 MB</strong> (default file size is unlimited).</li>
                    <li>Only image files (<strong>JPG, GIF, PNG</strong>) are allowed in this demo (by default there is no file type restriction).</li>
                    <li>Uploaded files will be deleted automatically after <strong>5 minutes</strong> (demo setting).</li>
                    <li>Puedes subir archivos directamente haciendo <strong>drag &amp; drop</strong> desde tu escritorio al navegador o desde el boton "Agregar..".</li>
<!--                    <li>Please refer to the <a href="https://github.com/blueimp/jQuery-File-Upload">project website</a> and <a href="https://github.com/blueimp/jQuery-File-Upload/wiki">documentation</a> for more information.</li>
-->
                </ul>
            </div>
        </div>
        
        <!-- modal-gallery is the modal dialog used for the image gallery -->
        <div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a><h3 class="modal-title"></h3>
            </div>
            
            <div class="modal-body">
                <div class="modal-image"></div>
            </div>
            
            <div class="modal-footer">
                <a class="btn modal-download" target="_blank"><i class="icon-download"></i><span>Download</span></a>
                <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
                    <i class="icon-play icon-white"></i><span>Slideshow</span></a>
                <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i><span>Previous</span></a>
                <a class="btn btn-primary modal-next"><span>Next</span><i class="icon-arrow-right icon-white"></i></a>
            </div>
        </div>


    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-upload fade">
            <td class="preview"><span class="fade"></span></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
            {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
                {% } %}</td>
            {% } else { %}
            <td colspan="2"></td>
            {% } %}
            <td class="cancel">{% if (!i) { %}
                <button class="btn btn-warning">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>{%=locale.fileupload.cancel%}</span>
                </button>
                {% } %}</td>
            </tr>
        {% } %}
    </script>
    
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
            {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
                {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
            {% } %}
            <td class="delete">
                <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                    <i class="icon-trash icon-white"></i>
                    <span>{%=locale.fileupload.destroy%}</span>
                </button>
                <input type="checkbox" name="delete" value="1">
            </td>
        </tr>
        {% } %}
    </script>

    <script src="../js/FU_jquery-1.8.2.min.js"></script>
    <script src="../js/FU_vendor/jquery.ui.widget.js"></script>
    <script src="../js/FU_tmpl.min.js"></script>
    <script src="../js/FU_load-image.min.js"></script>
    <script src="../js/FU_canvas-to-blob.min.js"></script>
    <script src="../js/FU_bootstrap.min.js"></script>
    <script src="../js/FU_bootstrap-image-gallery.min.js"></script>
    <script src="../js/FU_jquery.iframe-transport.js"></script>
    <script src="../js/FU_jquery.fileupload.js"></script>
    <script src="../js/FU_jquery.fileupload-fp.js"></script>
    <script src="../js/FU_jquery.fileupload-ui.js"></script>
    <script src="../js/FU_locale.js"></script>
    <script src="../js/FU_main.js"></script>
</body> 
</html>
