<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SERVER-MODULE-SERVICES</display-name>
  
        <!-- Auto scan REST service -->
        <context-param>
                <param-name>resteasy.scan</param-name>
                <param-value>true</param-value>
        </context-param>
 
        <!-- this need same with resteasy servlet url-pattern -->
        <context-param>
                <param-name>resteasy.servlet.mapping.prefix</param-name>
                <param-value>/restws</param-value>
        </context-param>
 
        <listener>
                <listener-class> 
                        org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
                </listener-class>
        </listener>
 
        <servlet>
                <servlet-name>resteasy-servlet</servlet-name>
                <servlet-class>
                        org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
                </servlet-class>
        </servlet>
 
        <servlet-mapping>
                <servlet-name>resteasy-servlet</servlet-name>
                <url-pattern>/restws/*</url-pattern>
        </servlet-mapping>
        
        <servlet>
    		<description></description>
    		<display-name>FileDispatcherServlet</display-name>
    		<servlet-name>FileDispatcherServlet</servlet-name>
    		<servlet-class>tecinf.servicios.servlets.FileDispatcherServlet</servlet-class>
		</servlet>
		<servlet-mapping>
		    <servlet-name>FileDispatcherServlet</servlet-name>
		    <url-pattern>/FileDispatcherServlet</url-pattern>
		</servlet-mapping>
		
        <servlet>
    		<description></description>
    		<display-name>ImageDispatcherServlet</display-name>
    		<servlet-name>ImageDispatcherServlet</servlet-name>
    		<servlet-class>tecinf.servicios.servlets.ImageDispatcherServlet</servlet-class>
		</servlet>
		<servlet-mapping>
		    <servlet-name>ImageDispatcherServlet</servlet-name>
		    <url-pattern>/Images</url-pattern>
		</servlet-mapping>
		
	    <servlet>
        	<description/>
        	<display-name>UploadServlet</display-name>
        	<servlet-name>UploadServlet</servlet-name>
        	<servlet-class>tecinf.servicios.servlets.FileUploadServlet</servlet-class>
    	</servlet>
    	<servlet-mapping>
		    <servlet-name>UploadServlet</servlet-name>
		    <url-pattern>/upload</url-pattern>
		</servlet-mapping>
		
	  	<listener>
 			<listener-class>tecinf.servicios.procesos.InicioProcesos</listener-class>
 		</listener>
 		
		<session-config>
			<session-timeout>10</session-timeout>
		</session-config>
          
</web-app>