<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" media="screen" />
<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css" media="screen" />
<link rel="stylesheet" type="text/css" href="../css/market.css" media="screen" />
<link rel="stylesheet" type="text/css" href="../css/jquery-ui.css" media="screen" />

<body>
<nav class="navbarFija navbar navbar-default " style="position: fixed !important;width: 100%;" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan para mostrarlos mejor en los dispositivos móviles -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target=".navbar-ex1-collapse">
			<span class="sr-only">Desplegar navegación</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Market Place Tecnologo</a>
	</div>
<!-- Agrupar los enlaces de navegación, los formularios y cualquier otro el emento que se pueda ocultar al minimizar la barra-->
	<div class="collapse navbar-collapse navbar-ex1-collapse"> 
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<input type="search" class="form-control" placeholder="Buscar">
			</div>
			<button class="btn btn-primary barraBusquedaHome" style="margin-top: initial;">
				<span class="glyphicon glyphicon-search"></span> Buscar</button>
		</form>
		<div class="col-md-2 pull-right">			
			<button class="btn btn-primary barraBusquedaHome" href="#registroUsuario" onclick="clickRegistroUsuario()">Registrarse</button>
			<button class="btn btn-primary barraBusquedaHome" onclick="clickLogin()">Login</button>	
		</div>
	</div>
</nav>
</div>	
	<div class="container-fluid carouselInicio">
	<a href="http://localhost:8080/SERVER-MODULE-SERVICES/FileDispatcherServlet?usr=pedro&tkn=asdetljkahsdlgasbcxmgaksdgaksdhbcx&file=contenido_no_porno">Bajar!!</a>
	    <div class="col-md-10">
			<div id="myCarousel" class="carousel">
				<div class="carousel-inner">
					<div class="active item"><img src="../img/slide01.jpg"></img></div>
					<div class="item"><img src="../img/slide02.jpg"></img></div>
					<div class="item"><img src="../img/slide03.jpg"></img></div>
					<div class="item"><img src="../img/slide04.jpg"></img></div>
					<div class="item"><img src="../img/slide05.jpg"></img></div>
					<div class="item"><img src="../img/slide06.jpg"></img></div>
				</div>
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
	    </div>
	</div>
</body>

<script src="../js/jquery.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/holder.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/LlamadasAjax.js"></script>
<script src="../js/main.js"></script>