.metadata/*

Servers/*
Servers/.settings/*

RemoteSystemsTempFiles/*

SERVER-MODULE-BUSSINESS/build/classes/*
SERVER-MODULE-PERSISTENCE/build/classes/*
SERVER-MODULE-SERVICES/build/classes/*
SERVER-MODULE-PRESENTATION/build/classes/*

SERVER-MODULE-BUSSINESS/.classpath
SERVER-MODULE-BUSSINESS/build/.classpath
SERVER-MODULE-PERSISTENCE/build/.classpath
SERVER-MODULE-SERVICES/build/.classpath
SERVER-MODULE-PRESENTATION/build/.classpath

SERVER-MODULE-BUSSINESS/.classpath
SERVER-MODULE-PERSISTENCE/.classpath
SERVER-MODULE-SERVICES/.classpath
SERVER-MODULE-PRESENTATION/.classpath

SERVER-MODULE-BUSSINESS/.settings/*
SERVER-MODULE-PERSISTENCE/.settings/*
SERVER-MODULE-SERVICES/.settings/*
SERVER-MODULE-PRESENTATION/.settings/*

SERVER-MODULE-BUSSINESS/.settings/*
SERVER-MODULE-PERSISTENCE/.settings/*
SERVER-MODULE-SERVICES/.settings/*
SERVER-MODULE-PRESENTATION/.settings/*

SERVER-MODULE-BUSSINESS/bin/build/classes/*
SERVER-MODULE-PERSISTENCE/bin/build/classes/*
SERVER-MODULE-SERVICES/bin/build/classes/*
SERVER-MODULE-PRESENTATION/bin/build/classes/*

SERVER-MODULE-BUSSINESS/bin/*
SERVER-MODULE-PERSISTENCE/bin/*
SERVER-MODULE-SERVICES/bin/*
SERVER-MODULE-PRESENTATION/bin/*

SERVER-MODULE-BUSINESS/.project
SERVER-MODULE-PERSISTENCE/.project
SERVER-MODULE-PRESENTATION/.project
SERVER-MODULE-SERVICES/.project
SERVER-MODULE/.project
SERVER-MODULE/.settings/*

