@CHARSET "UTF-8";

	.pantallaCompleta {
		width : 100%;
		margin : auto;
		background-color: rgb(245, 245, 245);
	}

	.barraBusquedaHome {
		height: initial;
		margin-top: 0.6em;
	}

	body.modal-open, 
		.modal-open .navbar-fixed-top, 
		.modal-open .navbar-fixed-bottom {
		 margin-right: 0;
	}

	.modal {
		left: 50%;
		bottom: auto;
		right: auto;
		padding: 0;
		width: 500px;
		margin-left: -250px;
		background-color: #ffffff;
		border: 1px solid #999999;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 6px;
		-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
		box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
		background-clip: padding-box;
	}

	.modal.container {
		max-width: none;
	}
	
	.modalChocolate{
		background-color: white; 
		display: none;
		width: 450px;
	}
	
	.fijo {
		position:fixed !important; 
		right:0px; 
		top:0px; 
		z-index:10 !important
	}
	
	.menuEnCajaFija{
		margin-left: auto;
		background-color: rgb(245, 245, 245);
		position: fixed !important;
		top: 47px;
		z-index: 10 !important;
	}